@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Plus+Jakarta+Sans&display=swap');

html,
body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1655354701679-a917f714f3c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}